

body{
  background: #ddd;
  font-size: 1.8em;
  padding: 1em;
}

h1, h2 {
  padding-bottom: 0.5em;
}

.container {
  background: #fff;
}

#today {
  background: #fff;
  border-top: 6px solid #9900ff;
  padding: 15px;
  text-align: center;
}

#handleChange {
  background: #fff;
  border-top: 6px solid #9900ff;
  padding: 15px;
  text-align: center;
}

#chart {
  padding-bottom: 2em;
}

#prevision  {
  background: #fff;
  border-top: 6px solid #9900ff;
  font-size: .8em;
  padding: 15px;
  text-align: center;
}

input {
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #555;
  margin: 10px 20px 10px 20px;
  color: #555;
  font-size: 1em;
  background: #fff;
  padding: 10px 20px 10px 20px;
}

input#button:active {
  background-color: #f5e6ff;
}

label {
  font-size: 1em;
  padding: 10px;
}
