

body{
  background: #ddd;
  font-size: 1.8em;
}

h1, h2 {
  padding-bottom: 0.5em;
}

header{
  background: #fff;
  border-top: 6px solid #9900ff;
  padding: 15px;
  text-align: center;
  margin: 3%;
  clear: both;
}

#info {
  margin: 3%;
}

#today {
  background: #fff;
  border-top: 6px solid #9900ff;
  padding: 15px;
  text-align: center;
  float: left;
  width: 30%;
}

#handleChange {
  float: right;
  width: 67%;
  background: #fff;
  border-top: 6px solid #9900ff;
  padding: 15px;
  text-align: center;
  margin-left: 3%;
}

#prevision {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 3%;
}

#day1, #day2, #day3, #day4, #day5  {
  background: #fff;
  border-top: 6px solid #9900ff;
  font-size: .8em;
  padding: 15px;
  text-align: center;
  float: left;
  width: 14.1%;
  margin-right: 3%;
}

#day6 {
  background: #fff;
  border-top: 6px solid #9900ff;
  font-size: .8em;
  padding: 15px;
  text-align: center;
  float: left;
  margin-bottom: 3%;
  width: 14.1%;
}

input {
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #555;
  margin: 10px 20px 10px 20px;
  color: #555;
  font-size: 1em;
  background: #fff;
  padding: 10px 20px 10px 20px;
}

input#button:active {
  background-color: #f5e6ff;
}

label {
  font-size: 1em;
  padding: 10px;
}
